Windows Registry Editor Version 5.00

[@reglevel@\Software\Classes\QGIS Project]
@="QGIS Project"

[@reglevel@\Software\Classes\QGIS Project\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qgs.ico"

[@reglevel@\Software\Classes\QGIS Project\Shell]

[@reglevel@\Software\Classes\QGIS Project\Shell\open]
@=""

[@reglevel@\Software\Classes\QGIS Project\Shell\open\command]
@="\"@osgeo4w@\\bin\\@package@.bat\" \"%1\""

[@reglevel@\Software\Classes\.qgs]
@="QGIS Project"

[@reglevel@\Software\Classes\.qgz]
@="QGIS Project"

[@reglevel@\Software\Classes\QGIS Layer Definition]
@="QGIS Layer Definition"

[@reglevel@\Software\Classes\QGIS Layer Definition\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qml.ico"

[@reglevel@\Software\Classes\.qml]
@="QGIS Layer Definition"

[@reglevel@\Software\Classes\QGIS Composer Template]
@="QGIS Composer Template"

[@reglevel@\Software\Classes\QGIS Composer Template\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qpt.ico"

[@reglevel@\Software\Classes\.qpt]
@="QGIS Composer Template"

[@reglevel@\Software\Classes\QGIS Layer Settings]
@="QGIS Layer Settings"

[@reglevel@\Software\Classes\QGIS Layer Settings\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qml.ico"

[@reglevel@\Software\Classes\.qml]
@="QGIS Layer Settings"

[@reglevel@\Software\Classes\QGIS Layer Definition]
@="QGIS Layer Definition"

[@reglevel@\Software\Classes\QGIS Layer Definition\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qlr.ico"

[@reglevel@\Software\Classes\.qlr]
@="QGIS Layer Definition"
