Windows Registry Editor Version 5.00

[-@reglevel@\Software\Classes\QGIS Project]

[-@reglevel@\Software\Classes\.qgs]

[-@reglevel@\Software\Classes\.qgz]

[-@reglevel@\Software\Classes\QGIS Layer Definition]

[-@reglevel@\Software\Classes\.qml]

[-@reglevel@\Software\Classes\QGIS Composer Template]

[-@reglevel@\Software\Classes\.qpt]

[-@reglevel@\Software\Classes\QGIS Layer Settings]

[-@reglevel@\Software\Classes\.qml]

[-@reglevel@\Software\Classes\QGIS Layer Definition]

[-@reglevel@\Software\Classes\.qlr]
